body {
    background-color: #F9F9F9;
}


.container{
    display: inline-block;
    margin: 1em;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    height: 300px;
    width: 300px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 30px;
}