:root {
  --white: #ffffff;
  --light-grey: #d6e2f0;
  --grayish-blue: #7b879d;
  --dark-blue: #1f3251;
}

body {
  background-color: var(--light-grey);
  font-family: "Outfit", sans-serif;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  background-color: var(--white);
  width: 320px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-image {
  border-radius: 10px;
  width: inherit;
}

.card-body {
  padding: 0 1em;
}

.card-body > h2 {
  color: var(--dark-blue);
}

.card-body > p {
  color: var(--grayish-blue);
}
